pom.xml.versionsBackup
out/
.idea/
target/
sparkz.log
sparkz-errors.log
*.iml
tools/sctool/dependency-reduced-pom.xml
examples/utxo/simpleapp/dependency-reduced-pom.xml
.project
.classpath
.settings/
.vscode/
qa/tmp
qa/node_modules
hs_err*
log
*.bkp*
**/contracts/compiled/**
/examples/entrypoint.sh
/examples/Dockerfile
project/
sc_test.log
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
qa/.metals/metals.lock.db
qa/.metals/metals.mv.db
qa/.metals/metals.log
.scalafmt.conf

# Jacoco reports
coverage-reports/**
