out/
.idea/
target/
scorex.log
scorex-errors.log
*.iml
tools/sctool/dependency-reduced-pom.xml
examples/simpleapp/dependency-reduced-pom.xml
.project
.classpath
.settings/
.vscode/
qa/tmp
hs_err*
log
