pom.xml.versionsBackup
out/
.idea/
target/
sparkz.log
sparkz-errors.log
*.iml
tools/sctool/dependency-reduced-pom.xml
examples/simpleapp/dependency-reduced-pom.xml
.project
.classpath
.settings/
.vscode/
qa/tmp
hs_err*
log
/examples/entrypoint.sh
/examples/Dockerfile
project/
sc_test.log
.env
!.env_sample*
!env_sample*