<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="MESSAGELOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss:SSS} | %msg%n</Property>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss:SSS Z} [%28F:%-4L] [%t] %c - %msg%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="akkaMessageLog" fileName="${sys:logDir}${sys:logAkkaMessagesFileName}"
                     filePattern="${sys:logDir}${sys:logAkkaMessagesFileName}-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${MESSAGELOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10000KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- if filePattern ends in .gz, the rollover files are compressed -->
        <RollingFile name="fileLog" fileName="${sys:logDir}${sys:logFilename}"
                     filePattern="${sys:logDir}${sys:logFilename}-%d{yyyy-MM-dd}-%i.gz" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <!-- Maximum number of files to rollover with the same filePattern %d prefix-->
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Akka message logging -->
        <Logger name="sparkz.core.debug" additivity="false">
            <AppenderRef ref="akkaMessageLog" level="${sys:logAkkaMessagesLevel}"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="fileLog" level="${sys:logFileLevel}"/>
            <AppenderRef ref="Console" level="${sys:logConsoleLevel}"/>
        </Root>

    </Loggers>

</Configuration>
